@charset "UTF-8";
@import "application.css.scss";



/* --- Form elements --- */

.comp_richeditor { border: 1px solid #E1E1E1; clear: both; min-height: 100px; }



/* --- Form element: search ---*/

.comp_search { position: relative; }
.comp_search_text {
  width: 120px; height: 22px;
  line-height: 22px; font-size: 0.9em; color: #555;
  padding-right: 30px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  background-color: #FFF;
}
button.comp_search_button, input.comp_search_button {
  width: 30px; height: 30px;
  background: image-url("common/icons/search-gray.png") no-repeat 50% 50%;
  font: 0/0 a;
  border-style: none;
  position: absolute; top: 0; right: 0;
  cursor: pointer;
}



/* --- Form element: button ---*/

.comp_button:link, .comp_button:visited,
input[type="submit"].comp_button, input[type="button"].comp_button,
button.comp_button {
  font-size: 14px;
  @include inline-block;
  background-color: #FE7B4E;
  padding: 0.3em 1.2em; margin: 0;
  border: 1px solid #E66633;
  color: #FFF; text-decoration: none; text-align: center;
  box-shadow: 0 1px #DBD9D9;
  cursor: pointer;
}
.comp_button:hover, .comp_button:active,
input[type="submit"].comp_button:hover, input[type="button"]:hover,
button.comp_button:hover { background-color: #FF926C; border-color: #FF6E3C; }
.comp_button.disabled, .comp_button.disabled,
input[type="submit"].comp_button.disabled, input[type="button"].disabled,
button.comp_button.disabled { background-color: #DBDAD9; border-color: #C8C6C4; cursor: default; }

.comp_button:active { border-color: #6694CC; box-shadow: none; }

.comp_button_large { font-size: 1.2em !important; line-height: 1.8 !important; padding: .2em 2.8em !important; }



/* --- Form element: select --- */

.comp_select {
  cursor: default;
  @include inline-block;
  position: relative; z-index: 1;
  min-width: 120px;
}
.comp_select > dt { position: relative; }
.comp_select > dt,
.comp_select > dd {
  padding: 5px;
  border: 1px solid #EEE;
  min-width: 120px; max-width: 100%;
  background-color: #F5F5F5;
}
.comp_select.expanded dt { background-color: #FDFDFD; border-bottom-color: transparent; }
.comp_select > dt span { padding: 3px 8px; }
.comp_select > dt i {
  position: absolute; right: 5px; top: 5px;
  width: 20px; height: 20px;
  background: transparent image-url("common/arrow.png") no-repeat 0 bottom;
  text-indent: -999em;
}
.comp_select.expanded dd { display: block; border-radius: 0 0 2px 2px; background-color: #FDFDFD; }
.comp_select.expanded.dir-t dt { border-radius: 0 0 2px 2px; }
.comp_select.expanded.dir-t dd { border-radius: 2px 2px 0 0; }
.comp_select dd {
  display: none;
  position: absolute; z-index: 2;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
.comp_select.dir-t dd { bottom: 100%; }
.comp_select.dir-r dd { right: 0; }
.comp_select ul { max-width: 200px; max-height: 240px; overflow: auto; @include no_gap; }
.comp_select li { @include no_item; padding: 3px 8px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }
.comp_select li:hover { background-color: #79B0F2; color: #FFF; }
.comp_select li a { display: block; }
.comp_select [data-selected="true"] { background-color: #DDD; }



/* --- Layout: tab --- */

.comp_tab_group { overflow: hidden; }
.comp_tab_trigger { float: left; text-decoration: none !important; padding: 0 2em; cursor: pointer; }
.comp_tab_trigger.current { background-color: #FFF !important; font-weight: bold; cursor: default; }
.comp_tab_content { display: none; }
.comp_tab_content.current { display: block; }

.comp_tab_blockset { overflow: hidden; margin-right: 50px; }
.comp_tab_blockset .comp_tab_group { overflow: visible; white-space: nowrap; margin-right: 0 !important; }
.comp_tab_blockset .comp_tab_trigger { float: none; @include inline-block; }
.comp_tab_controller { position: relative; width: 50px; height: 30px; }
.comp_tab_controller button {
  top: 50%; left: 50%;
  margin-top: -8px; padding: 0;
  border-width: 8px 0;
  cursor: pointer;
}
.comp_tab_controller .prev { border-right: 8px solid #CCC; margin-left: -13px; }
.comp_tab_controller .prev[disabled="disabled"] { border-right-color: #EEE; }
.comp_tab_controller .next { border-left: 8px solid #CCC; margin-left: 5px; }
.comp_tab_controller .next[disabled="disabled"] { border-left-color: #EEE; }



/* --- Group: container of component set --- */

.comp_group .comp_button,
.comp_group .comp_select { float: left; margin-left: 10px; }

.comp_group .comp_button:first-child,
.comp_group .comp_select:first-child { margin-left: 0; }



/* --- Combo components --- */

.comp_search.with_select .comp_select { position: absolute; top: 0; left: 0; }



.comp_dialog { display: none; }



/* --- Rate bar --- */

.comp_ratebar,
.comp_ratebar span { border-radius: 100px; }
.comp_ratebar { height: 20px; background-color: #EBEBEB; overflow: hidden; }
.comp_ratebar span {
  display: block;
  width: 0; height: 100%;
  background-color: #A7D284;
}



.comp_progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #F7F7F7;
  background-repeat: repeat-x;
  @include linear-gradient(#F5F5F5, #F9F9F9);
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
}
.comp_progress > div {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  @include box-sizing(border-box);
  @include animation(progressbar_stripes 2s linear infinite);
  @include transition(width 0.6s ease);
  @include background-size(40px 40px);
  background-color: #149BDF;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}



/* --- Profile card --- */

.CM-tooltip {
  display: none;
  visibility: hidden;
  position: absolute; top: 0; z-index: -99999;
  padding: 10px;
}
.CM-tooltip:before,
.CM-tooltip:after {
  content: "\20";
  position: absolute;
  border: 0px solid transparent;
}
.CM-tooltip:before { border-width: 10px 10px 0; border-top-color: #BBB; bottom: 1px; left: 50px; }
.CM-tooltip:after { border-width: 9px 9px 0; border-top-color: #ECEDED; bottom: 2px; left: 51px; }
.CM-tooltip.dir-t:before { border-width: 0 10px 10px; border-bottom-color: #BBB; top: 1px; bottom: auto; left: 50px; }
.CM-tooltip.dir-t:after { border-width: 0 9px 9px; border-bottom-color: #ECEDED; top: 2px; bottom: auto; left: 51px; }

.CM-nobutton:after { border-top-color: #FFF; }

.card_wrapper {
  border: 1px solid #BBB;
  min-width: 200px; max-width: 300px;
  font-size: 12px;
  box-shadow: 0 0 1em -0.2em #666;
}

.comp_tooltip .card_wrapper { min-width: 0; border-radius: 3px; }
.comp_tooltip:before { left: 20px; }
.comp_tooltip:after { left: 21px; border-top-color: #444; }
.comp_tooltip.dir-t:before { left: 20px; }
.comp_tooltip.dir-t:after { left: 21px; border-bottom-color: #444; }
.card_tooltip { padding: 10px; border-radius: 2px; background-color: #444; color: #FFF; }

.card_profile,
.card_html { padding: 10px; background-color: #FFF; overflow: hidden; }
.card_profile .avatar {
  float: left;
  width: 40px; height: 40px;
  margin-right: 10px;
  vertical-align: top;
}
.card_profile .class_info { overflow: hidden; margin-top: 5px; }
.card_profile .profile_id { display: none; }

.card_operation { overflow: hidden; background-color: #ECEDED; padding: 5px; }
.CM-nobutton .card_operation { display: none; }
.card_operation button { float: right; font-size: 12px; line-height: 16px; margin: 0; padding-left: 5px !important; padding-right: 5px !important; }
.card_operation i,
.card_operation span { @include inline-block; vertical-align: top; }
.card_operation i { @include square(16px); @include hide_word; margin-right: 2px; background: image-url("common/sprites-16.png") no-repeat; }
.card_operation .CM-btn-apply i { background-position: -96px -48px; }
.card_operation .CM-btn-agree i { background-position: -16px -48px; }
.card_operation .CM-btn-remove i { background-position: -144px -16px; }

.comp_selfhtml:after { border-top-color: #FFF; }



/* --- Return to top --- */

.comp_return {
  width: 30px; height: 31px;
  position: fixed; left: 50%; bottom: 100px;
  padding: 0; margin: 0 0 0 510px;
  border: none;
  background: image-url("common/backtop.png") no-repeat -1px -1px;
  font: 0/0 a;
  cursor: pointer;
}
.comp_return:hover { background-position: -33px -1px; }
.comp_return:active { background-position: -65px -1px; }
