// 变量
$page_width: 960px;

$layout-main: 640px;
$layout-sub: 300px;

$module_padding: 15px;


// 卡片风格
@mixin card_style {
  border: 1px solid #E0E0E0; border-radius: 2px; border-bottom-width: 2px;
}

@mixin module_block {

}
