$font_family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
$font_family-hei: "Microsoft Yahei", "Hiragino Sans GB", Tahoma, Verdana, "BitStream vera Sans", Arial, Helvetica, Sans-serif;
$font: normal normal 14px/1.5 $font_family;



// Colors

$theme: #41D0FA;
$title: #444;
$text: #666;
$text-light: #888;
$link: #3F6D77;
$hover: #518C99;
$border: #B8C4C8;
