@mixin tag_unit {
  @include inline-block;
  max-width: 120px;
  margin-right: 5px; padding: 0 8px;
  border-radius: 2px;
  background-color: #DCE4E6;
  color: $text !important;
  text-decoration: none !important;
  @include ellipsis;
}

@mixin hide_word {
  font: 0px/0 a;
}

@mixin avatar( $size: 16px ) {
  width: $size;
  height: $size;
}
