@import "../helpers";


.layout-sub {
  h1 {
    margin: 0 0 30px -30px;
    text-align: center;
    font: {
      family: serif;
      size: 50px;
    }

    .version {
      display: block;
      font: {
        size: 14px;
        weight: normal;
      }
    }
  }
}

.layout-nav {
  ul {
    padding: 0;
    margin: 20px 0 0 0;
    @include no_item;
  }
}

.layout-content {
  overflow: visible !important;
  position: relative;
}

.toc {
  position: absolute;
  top: 0;
  left: 110%;
  a {
    color: $color-text !important;
  }
}

.toc-title {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  text-decoration: underline !important;

  .version {
    font: {
      size: 12px;
      weight: normal;
    }
  }
}

.toc-section {
  @include no_gap;
  @include no_item;
  margin-top: 5px;
  font-size: 12px;

  li {
    margin-bottom: 3px;
    white-space: nowrap;
  }
}

.file_desc {
  i {
    font-style: normal;
    color: $color-text-light;
  }
}

#apiCount {
  font-weight: bold;
}

#downloadFiles {
  td {
    padding: .15em .9em .15em 0;
  }
}

#documentation {
  dt,
  dd {
    @include no_gap;
  }

  & > h3 {
    margin-top: 50px;
    font-size: 18px;
  }

  & > dl {
    & > dt {
      margin-top: 30px;

      font: {
        weight: bold;
        size: 16px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.api_info {
  padding: 5px 5px 5px 10px;
  border-left: 3px solid #A6A6A6;
  @include clearfix;

  dl {
    clear: both;
    margin: 0;
    font-size: 12px;

    &:before {
      content: "\0020";
      display: block;
      border-bottom: 1px dashed #888;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    dt,
    dd {
      margin-top: 5px !important;

      &:first-child,
      &:first-of-type {
        margin-top: 0 !important;
      }
    }

    dt {
      width: 8em;
      float: left;
      font: {
        family: $font_family-monospace;
        weight: bold;
      }
    }

    dd {
      overflow: hidden;

      p {
        @include no_gap;
        line-height: 1.5;
      }
    }
  }
}

.invoke {
  float: left;
  font-size: 14px;
}

.return_value {
  float: right;
  font-style: italic;
}
