@import "../helpers";

h1 {
  font: {
    family: Serif;
    size: 50px;
  }

  margin: 0 0 20px 0;
}

.toc-title {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  text-decoration: underline !important;

  .version {
    font: {
      size: 12px;
      weight: normal;
    }
  }
}

.toc-section {
  @include no_gap;
  @include no_item;
  margin-top: 5px;
  font-size: 12px;

  li {
    margin-bottom: 3px;
  }
}

.file_desc {
  i {
    font-style: normal;
    color: $color-text-light;
  }
}

#apiCount {
  font-weight: bold;
}

#downloadFiles {
  td {
    padding: .15em .9em .15em 0;
  }
}

#documentation {
  h3 {
    margin-top: 50px;
    font-size: 18px;
  }
  
  dt,
  dd {
    @include no_gap;
  }

  dt {
    margin-top: 30px;

    font: {
      weight: bold;
      size: 16px;
    }
  }

  dl {
    dt:first-child {
      margin-top: 0;
    }
  }
}
