---
layout: default
title: 开发中心
css:
  - pages/dev
js:
  - pages/dev
special_title: 欧雷的开发者中心
special_type: dev
---
{% include header.html %}
<main class="Page-content">
  <article class="layout-container">
    <header class="Profile">
      {% assign author = site.data.authors.ourai %}
      <a href="{{ author.profile }}" class="Profile-avatar" title="了解更多"><img src="{{ 'avatars/ourai-100px.jpg' | asset_path }}" srcset="{{ 'avatars/ourai-200px.jpg' | asset_path }} 2x" alt="欧雷的头像"></a>
      <h1 class="Profile-name"><a href="{{ author.profile }}">{{ author.name.zh }}</a></h1>
      <div class="Profile-professions">
        <ul>
          {% for prof in author.profession %}
          <li>{% if prof.link != null and prof.link != "" %}<a href="{{ prof.link }}" target="_blank">{{ prof.title }}</a>{% else %}{{ prof.title }}{% endif %}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="Profile-contacts">
        {% assign contacts = author.contact %}
        <ul>
          <li class="Contact-location"><img src="{{ 'logos/local-32px.png' | asset_path }}" srcset="{{ 'logos/local-64px.png' | asset_path }} 2x" alt="所在城市"><span>{{ author.location }}</span></li>
          <li class="Icon Icon--email"><a href="mailto:{{ author.contact.gmail }}" title="发送邮件给我">{{ contacts.email }}</a></li>
          <li class="Icon Icon--gh"><a href="{{ contacts.github }}" target="_blank" title="查看我的全部开源项目">GitHub</a></li>
          <li class="Icon Icon--li"><a href="{{ contacts.linkedin }}" target="_blank" title="查看我的简历">LinkedIn</a></li>
          <li class="Icon Icon--sf"><a href="{{ contacts.sf }}" target="_blank" title="查看我的技术文章和问答">SegmentFault</a></li>
          <li class="Icon Icon--cw"><a href="{{ contacts.codewars }}" target="_blank" title="查看我的技能掌握情况">Codewars</a></li>
        </ul>
      </div>
      <p class="Profile-description">{{ author.description }}</p>
    </header>
    <div class="layout-content">
      {% assign repos = site.data.github.all %}
      {% assign pens = site.data.codepen %}
      <div class="Navs">
        <ul>
          <li class="Nav-cell"><a href="/projects" data-flag="projects"><span class="Cell-count">{{ repos.size }}</span><span class="Cell-label">个开源项目</span></a></li>
          <li class="Nav-cell"><a href="/demos" data-flag="demos"><span class="Cell-count">{{ pens.size }}</span><span class="Cell-label">个代码演示</span></a></li>
        </ul>
      </div>
      <div class="Grids">
        <!-- 开源项目 -->
        <div class="Grid Projects" data-flag="projects">
          {% for repo in repos %}
          {% if repo.homepage == null or repo.homepage == "" %}
            {% assign url = repo.html_url %}
          {% else %}
            {% assign url = repo.homepage %}
          {% endif %}
          <div class="Grid-item">
            <div class="Card">
              <a href="{{ url }}" class="Card-link Repo">
                <h3 class="Card-name Repo-name">{{ repo.name }}</h3>
                <span class="Repo-language">{{ repo.language | default: "&nbsp;" }}</span>
                <span class="Repo-stargazers">{{ repo.stargazers_count }} 个人关注</span>
                <p class="Card-description">{{ repo.description }}</p>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- 代码演示 -->
        <div class="Grid Demos" data-flag="demos">
          {% for pen in pens %}
          <div class="Grid-item">
            <div class="Card">
              <a href="{{ pen.link }}" class="Card-link Demo" target="_blank" rel="external nofollow">
                <h3 class="Card-name Demo-name">{{ pen.title }}</h3>
                <p class="Card-description">{{ pen.details | strip_html | default: "暂无描述" }}</p>
              </a>
              <div class="Card-thumbnail" style="background-image: url('{{ pen.images.small }}');"><img src="{{ pen.images.small }}" alt="{{ pen.title }}"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>
</main>
{% include footer.html %}
