---
title: 欧雷流二三事
banner:
  url: banners/ourai-mono.jpg
  description: 欧雷的真颜 XD
css:
  - pages/about
---
<article class="Page-main Article">
  <header class="Article-header">
    <h1 class="Article-title">{{ page.title }}</h1>
  </header>
  <div class="Article-content col-md-9">
    <p>「欧雷流」，从词中不难看出其与「欧雷」有着莫大的关系，所以，要想了解「欧雷流」就得先了解「欧雷」。</p>
    <!-- 介绍我自己 -->
    <h2 id="ourai">欧雷，就是我</h2>
    <p>嗨～大家好！我叫欧雷，是一枚穿着大叔外衣却永远长不大的小男孩。*\(^o^)/*</p>
    <p>「欧雷」，起初是给自己的小说中的主人公起的名字，但从某一天起，它成为我畅游网络世界的网名和现实世界的花名。只要看到这个名字以及一成不变的<a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=41438293" target="_blank" rel="external nofollow">自画像</a>，便毫无疑问是我了！</p>
    <p>在上世纪 80 年代出生于东北，虽拥有东北人该有的身高，却没有东北人该有的酒量。毕业后不足一年便离开了那冰寒之地来到人杰地灵的杭州——江南最美的城市。经过再三辗转，现就职于<a href="https://www.maihaoche.com/" target="_blank" rel="external nofollow">买好车</a>。</p>
    <p>我拥有强烈的好奇心，对宇宙万物及相关的一切充满兴趣，从小看着科普读物和各种科教栏目长大的；我喜欢未知的新事物，总想去尝试做各种事情以及到处走走看看，时不时会漫步于深山老林或市井之间，也会到异乡体会当地民俗风情。</p>
    <p>回想过去，贯穿我目前为止的人生的几个关键词是：好奇、胆大、自我。</p>
    <!-- 充满好奇心的我 -->
    <h3>好奇宝宝</h3>
    <p>不知是什么决定的，使我一直有旺盛的好奇心。星座？血型？或是其他？现在想想，小学时发生的很多事情对我影响很大，「从娃娃抓起」果真有其道理！</p>
    <p>低年级时就对生物、天文、神话等抱有兴趣，当时家里仅有的两套科普类启蒙读物《十万个为什么》和《<a href="http://book.douban.com/subject/6722715/" target="_blank" rel="external nofollow">中华少儿大百科</a>》不知被我翻了多少次看了多少遍，看电视时若是有与《动物世界》、《人与自然》和《<a href="http://movie.douban.com/subject/26340396/" target="_blank" rel="external nofollow">走近科学</a>》类似的科教节目或纪录片必不会换台。</p>
    <p>三年级开始学英语，在校外找的学习班，用的是初中教材（就是 Li Lei 和 Han Meimei 的那个）。老师还不错，从字母表开始教英式发音，让我们用国际音标而不是汉语拼音去标注。因为比同龄人提早四年学习初中英语，在初中的英语课上我显得十分「猖狂」。现在的水平只<strong>可以阅读一些英语技术文档</strong>。</p>
    <p>玩红白机是小学时最大的快乐，当时没玩过什么文字类游戏，尤其是日语的。<a href="http://www.douban.com/doulist/43807844/" target="_blank" rel="external nofollow">《热血高校》系列</a>是我最喜欢的游戏，归功于其另类的规则、必杀技系统、技能点系统和道具系统。《<a href="http://www.douban.com/subject/10767496/" target="_blank" rel="external nofollow">热血物语</a>》应该是其中最「难」的了，要想通关就得看懂剧情并按照事件发生的顺序进行游戏，想当年不知多少勇士在校门那止步不前……（该死的日语！）这就是我开始学习日语的契机。某天在看电视时偶然看到「CCAV」正播放一个日语讲座（记得是《中日交流标准日本语》），恰好是在讲五十音图的写法及发音，我就认认真真地听讲。看过之后没几天就能够按顺序默写并读出各个假名。经过多年浸染沉淀，已<strong>能够与日本人进行非专业话题的日常对话</strong>，并于 2014 年（裸考）取得 JLPT N1 证书。</p>
    <figure>
      <img src="{{ 'pages/about/jlpt-n1.jpg' | asset_path }}" alt="JLPT N1 证书">
      <figcaption>JLPT N1 证书</figcaption>
    </figure>
    <p>一般来说，人的好奇心是在孩童时期最为旺盛，随着年龄的增长而逐渐减退。而我一直保持着，说明我仍是小孩子～哈哈！</p>
    <!-- 喜欢折腾的我 -->
    <h3>跨领域工程师</h3>
    <p>我的职业是 Web 前端开发工程师，通常称为「前端工程师」，是软件工程师的一个细分职业。无论名头是什么「工程师」，只要与软件开发相关，就得掌握以下知识：</p>
    <ul>
      <li>软件工程</li>
      <li>数据结构</li>
      <li>设计模式</li>
      <li>算法</li>
      <li>编程范型</li>
      <li>正则表达式</li>
    </ul>
    <!-- 爱吃和走的我 -->
    <h3>舌尖上的旅行者</h3>
    <!-- 不再宅的宅男 -->
    <h3>退役宅男</h3>
    <h3>生活黑客</h3>
    <ul>
      <li>享受生活</li>
      <li>智能家居</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- 阐述「欧雷流」 -->
    <h2 id="ourairyu">欧雷流，是个性</h2>
    <p>「欧雷」就是我，替换代入为「<ruby lang="ja" class="lang_jp"><rb>我流</rb><rp>（</rp><rt>がりゅう</rt><rp>）</rp></ruby>」，意为：自成一派；独树一帜；别具一格。因此，广义上的「欧雷流」是具备我的个人色彩的事物的集合：思想、言行、穿着、做事方式等；狭义上则专指我的思想体系。</p>
    <p>我的人生哲学：</p>
    <ul>
      <li>爱自己，爱生活，爱他人</li>
      <li>独善其身，兼济天下</li>
      <li>万事做到「八分饱」</li>
    </ul>
  </div>
  <footer class="Article-footer col-md-3">
    {% include social.html %}
  </footer>
  <div class="Article-comments col-md-9">{% include disqus.html %}</div>
</article>
<div class="Page-sidebar col-md-3">
  <aside class="Widget">
    <header class="Widget-header">
      <h3 class="Widget-title">微信公众号</h3>
    </header>
    <div class="Widget-body">
      <p><img src="{{ 'qrcodes/ourairyu-258.jpg' | asset_path }}" alt="「欧雷流」微信公众号 QR 二维码"></p>
    </div>
  </aside>
  <aside class="Widget">
    <header class="Widget-header">
      <h3 class="Widget-title">其他出没点</h3>
    </header>
    <div class="Widget-body">
      <ul>
        <li><a href="https://twitter.com/ourairyu" target="_blank" rel="external nofollow">Twitter</a></li>
        <li><a href="https://github.com/ourai" target="_blank" rel="external nofollow">GitHub</a></li>
        <li><a href="https://segmentfault.com/u/ourai" target="_blank" rel="external nofollow">SegmentFault</a></li>
        <li><a href="https://www.zhihu.com/people/ourai" target="_blank" rel="external nofollow">知乎</a></li>
        <li><a href="http://www.douban.com/people/ourai/" target="_blank" rel="external nofollow">豆瓣</a></li>
        <li><a href="http://bangumi.tv/user/ourai" target="_blank" rel="external nofollow">番组计划</a></li>
      </ul>
    </div>
  </aside>
  <section class="Widget Widget-toc"></section>
</div>
