---
layout: default
permalink: index.html
---
{% include header.html %}
<main class="Page-content">
  <div class="container"> 
    <article class="Page-main Article">
      <header class="Article-header">
        <h1 class="Article-title">{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </header>
      <div class="Article-content">
        <p>我叫<a href="/about/" title="更多地了解我">欧雷</a>，曾用网名「飛鳥修羅丸」，出生于上世纪 80 年代的东北，现在杭州就职于<a href="https://www.maihaoche.com/" class="Link Link--maihaoche" target="_blank" rel="external nofollow">买好车</a>。</p>
        <p>我的本职工作是一名<a href="/dev/" title="我的开源项目及其他与开发相关的内容">前端工程师</a>，以前当过<a href="/otaku/">御宅族</a>。同时，我是以下项目或计划的发起者：</p>
        <ul>
          <li><a href="http://fes.ourai.ws/" target="_blank" rel="external nofollow" title="访问「FES」网站">前端知识与技能考核评价体系</a></li>
        </ul>
        <p>我喜欢<a href="https://github.com/ourai" target="_blank" rel="external nofollow" title="访问我的 GitHub 主页">编程</a>、<a href="/posts/" title="我所写的文章">写作</a>、<a href="/ourairyu/" title="了解「欧雷流」思想">思考</a>、<a href="/tags/travel/" title="我所写的游记">旅行</a>，也喜欢<a href="/categories/japanese/" title="我所写的日语相关文章">日语</a>，喝咖啡是每天必做之事。在这些方面我取得了一些成果：</p>
        <ul>
          <li>2014 年（裸考）获得 JLPT N1 证书</li>
        </ul>
        <p>对我有兴趣或疑问以及有相同爱好的人可以通过<a href="mailto:ourairyu@gmail.com">邮件</a>或<a href="https://twitter.com/ourairyu" target="_blank" rel="external nofollow">推特</a>联系我。</p>
        {% if site.posts.size > 0 %}
          {% assign postSize = 10 %}
          <h2>最新文章</h2>
          <p>发布日期最靠前的 {{ postSize }} 篇文章，也可以查看我的<a href="{{ '/posts/' | prepend: site.url }}">全部文章</a>。</p>
          <ul class="ArticleList">
            {% for post in site.posts limit: postSize %}
              <li class="ArticleList-item"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%F" }}</time><i class="fa fa-pencil"></i><a href="{{ post.url }}">{{ post.title }}</a>{% if post.album %}<i class="fa fa-camera"></i>{% endif %}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </article>
  </div>
</main>
{% include footer.html %}
