---
title: 文章列表
css:
  - pages/posts
---
{% contentfor sidebar %}
  <aside class="Widget">
    <header class="Widget-header">
      <h3 class="Widget-title">热门类别</h3>
    </header>
    <div class="Widget-body">
      <ul>
        {% assign categories = site.data.categories %}
        {% for cat in site.categories limit:3 %}
          {% assign c = cat[0] %}
          <li><a href="/categories//">{{ categories[c].name }} ({{ cat[1].size }})</a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
{% endcontentfor %}

<div class="ArticleList">
  {% assign posts = site.posts %}
  {% assign prev_post = null %}
  {% assign first_post_year = posts.last.date | date: "%Y" %}
  {% assign last_post_year = posts.first.date | date: "%Y" %}

  <p class="ArticleList-summary"><span>{{ last_post_year | minus: first_post_year }}</span> 年间共写了 <span>{{ posts.size }}</span> 篇文章。</p>

  {% assign archive_inited = false %}
  {% assign current_year = site.time | date: "%Y" %}

  {% for post in posts %}
    {% assign prev_year = prev_post.date | date: "%Y" %}
    {% assign year = post.date | date: "%Y" %}
    {% assign diff = current_year | minus: year %}

    {% if prev_post == null or year != prev_year %}
      {% assign first_item = true %}
    {% else %}
      {% assign first_item = false %}
    {% endif %}

    {% if diff < 3 %}
      {% if first_item == true %}
        <h2 class="ArticleList-heading">{{ year }}</h2>
      {% endif %}

      <div class="ArticleList-item"><time datetime="{{ post.date | date: '%c' }}">{{ post.date | date: "%F" }}</time><i class="fa fa-pencil"></i><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% else %}
      {% if archive_inited == false %}
        <p>本页只显示最近三年（{{ current_year | minus: 2 }} 年～{{ current_year }} 年）的文章，其他年份的文章请访问下面的年份归档页面。</p>

        {% assign archive_inited = true %}
      {% endif %}

      {% if first_item == true %}
        <div><a href="/archives/{{ year }}/">{{ year }}</a></div>
      {% else %}
        {% continue %}
      {% endif %}
    {% endif %}

    {% assign prev_post = post %}
  {% endfor %}
</div>
