/_site/
/phpMyAdmin/
/dev/



# WordPress

*.log

xmlrpc.php

sitemap.xml
sitemap.xml.gz

wp-admin/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/languages/
wp-content/plugins/
wp-content/plugins/hello.php
wp-content/themes/twenty*/
wp-content/**/index.php
wp-includes/

/readme.html
/license.txt
/wp-*.php

!wp-content/themes/ourairyu/index.php
