@import "../helper";



.Page-navs {
  text-align: center;
  background-color: #F5F5F5;

  ul {
    @include unstyled_list;
    @include clearfix;
    @include inline-block(top);
    margin-bottom: 0;
  }

  li {
    float: left;
    margin-left: 1em;
    font-size: 14px;

    &:first-child {
      margin-left: 0;
    }
  }
}



main:after {
  content: $UN-space;
  display: block;
  height: 100px;
}



article {
  position: relative;

  header,
  footer {
    p {
      margin-bottom: 0;
      line-height: inherit;
    }
  }

  header {
    padding: {
      top: 3em;
      bottom: 1.8em;
    }

    h1 {
      margin: 0;
      font-size: 2.5em;
      line-height: 1.2;
    }

    p {
      margin-top: .75em;
      font-size: 14px;
      color: #999;
    }
  }

  h2 {
    margin: {
      top: 1em;
      bottom: .5em;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    margin-bottom: 1.5em;
    line-height: 1.8;
  }

  blockquote p {
    margin-bottom: 12px;
  }
}

.Article-meta {
  font-size: 14px;
}

.Article-author {
  overflow: hidden;
}

.Author-link--withAvatar {
  float: left;
  margin-right: 10px;

  img {
    @include square(48px);
  }
}

.Author-link {
  margin-right: .25em;
  font-weight: bold;
}

#supportAuthor {
  display: none;
  
  p {
    margin: {
      top: 20px;
      bottom: 10px;
    }
    font: {
      size: 16px;
      weight: bold;
    }
  }

  ul {
    @include unstyled_list;
    @include clearfix;
    margin-bottom: 0;
  }

  li {
    float: left;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  img {
    @include square(43px * 3);
  }
}

.Article-license {
  margin-top: 10px;
}

.Article-share {
  margin-top: 20px;

  .social-share-icon {
    width: 28px;
    height: 28px;
    margin: {
      top: 0;
      bottom: 0;
    }
    line-height: normal;
    font-size: 18px;

    &:before,
    &:after {
      @include inline-block;
    }

    &:after {
      height: 100%;
      content: $UN-space;
    }
  }
}

.Article-toc {
  margin: {
    top: 15px;
    bottom: 0;
  }
  padding-top: 10px;
  border-top: 1px solid #eee;

  &,
  ul {
    list-style: none inside none;
    padding-left: 0;
  }

  ul {
    margin-left: 1em;
  }
}

@media all and (min-width: $screen-md-min) {
  article footer {
    padding-right: 0 !important;
  }

  .Article-content {
    padding-left: 0;
  }

  #supportAuthor {
    ul {
      margin: {
        right: -5px;
        left: -5px;
      }
    }

    li {
      width: 50%;
      margin-left: 0;
      padding: 0 5px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media all and (max-width: $screen-sm-max) {
  main:after {
    height: 30px;
  }

  .Article-content {
    padding: {
      right: 0;
      left: 0;
    }
  }

  .Article-meta {
    $gutter: $grid-gutter-width / 2;

    margin: {
      right: -$gutter;
      left: -$gutter;
    }
    padding: 20px;
    border-left: 4px solid #666;
    background-color: #EEE;
  }

  .Article-share .social-share-icon {
    &:first-child {
      margin-left: 0;
    }
  }

  .Article-toc {
    display: none;
  }

  .Disqus {
    margin-top: 15px;
  }
}
