@import "../helper";



article {
  position: relative;

  header,
  footer {
    p {
      margin-bottom: 0;
      line-height: inherit;
    }
  }

  header {
    @include pie-clearfix;
    padding: {
      top: 3em;
      bottom: 1.8em;
    }

    h1 {
      margin: 0;
      font-size: 2.5em;
      line-height: 1.2;
    }

    p,
    .Article-tags {
      float: left;
      margin-top: .75em;
      font-size: 14px;
    }

    p {
      color: #999;
    }

    .Article-tags {
      margin-left: 1em;

      span,
      ul,
      li {
        float: left;
      }

      ul {
        list-style: none inside none;
        margin-bottom: 0;
        padding-left: 0;

        li {
          margin-left: .5em;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  h2 {
    margin: {
      top: 1em;
      bottom: .5em;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    margin-bottom: 1.5em;
    line-height: 1.8;
  }

  blockquote p {
    margin-bottom: 12px;
  }
}

.Article-meta {
  font-size: 14px;

  h3 {
    margin: 0;
    font-size: 16px;
  }
}

.Article-author {
  overflow: hidden;
}

.Article-category {
  > p {
    margin-bottom: 10px;
    color: #888;
  }

  > div {
    p {
      margin-top: 10px;
    }    
  }
}

.Author-link--withAvatar {
  float: left;
  margin-right: 10px;

  img {
    @include square(48px);
  }
}

.Author-link {
  margin-right: .25em;
  font-weight: bold;
}

#supportAuthor {
  display: none;
  
  p {
    margin: {
      top: 20px;
      bottom: 10px;
    }
    font: {
      size: 16px;
      weight: bold;
    }
  }

  ul {
    @include unstyled_list;
    @include clearfix;
    margin-bottom: 0;
  }

  li {
    float: left;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  img {
    @include square(43px * 3);
  }
}

.Article-license,
.Article-share {
  margin-top: 20px;
}

.Article-license {
  a {
    margin-right: .5em;
  }

  .fa {
    margin: {
      right: .15em;
      left: .5em;
    }
  }
}

.Article-share {
  > p {
    margin-bottom: 10px;

    .fa {
      margin-left: .5em;
    }
  }

  .social-share .social-share-icon {
    width: 28px;
    height: 28px;
    margin: {
      top: 0;
      bottom: 0;
    }
    line-height: normal;
    font-size: 18px;

    &:before,
    &:after {
      @include inline-block;
    }

    &:after {
      height: 100%;
      content: $UN-space;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.Article-toc {
  width: 220px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;

  ul {
    list-style: none inside none;
    padding-left: 0;
  }

  > h3 {
    padding: 10px 15px;
  }

  > ul {
    margin-bottom: 0;
  }

  .nav {
    > li {
      > a {
        padding: 2px 0 2px 13px;
        border-left: 2px solid transparent;
        color: #666;

        &:hover {
          background-color: transparent;
        }
      }

      &.active {
        > a {
          border-left-color: #0871ab;
          font-weight: bold;
          color: #0871ab
        }
      }

      .nav > li {
        > a {
          padding-left: 28px;
        }

        &.active > a {
          font-weight: normal;
        }
      }
    }
  }

  &.affix {
    top: 0;
    margin-top: 0;
    border-top-style: none;
    @include transition(top .5s);
  }
}

@media all and (min-width: $screen-md-min) {
  article footer {
    padding-right: 0 !important;
  }

  .Article-content {
    padding-left: 0;
  }

  #supportAuthor {
    ul {
      margin: {
        right: -5px;
        left: -5px;
      }
    }

    li {
      width: 50%;
      margin-left: 0;
      padding: 0 5px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media all and (max-width: $screen-sm-max) {
  .Article-content {
    padding: {
      right: 0;
      left: 0;
    }
  }

  .Article-meta {
    $gutter: $grid-gutter-width / 2;

    margin: {
      right: -$gutter;
      left: -$gutter;
    }
    padding: 20px;
    border-left: 4px solid #666;
    background-color: #EEE;
  }

  .Article-share .social-share-icon {
    &:first-child {
      margin-left: 0;
    }
  }

  .Article-toc {
    display: none;
  }

  .Disqus {
    margin-top: 15px;
  }
}
