@import "../helper";



body {
  background-color: #E9E9E9;
}

main:after {
  height: 30px;
}



// Profile

.Profile {
  padding: 30px 20px;
  background-color: #FFF;

  @media (min-width: 768px) {
    position: relative;
    padding: {
      right: 15px;
      bottom: 25px;
      left: 15px;
    }
    text-align: center;

    &:after {
      content: "\0020";
      display: block;
      width: 100%;
      height: 12px * 1.5;
    }
  }
}

.Profile-avatar,
.Profile-avatar img {
  @include square(100px);
  @include border-radius(50%);
  background-color: #9A9A9A;
}

.Profile-avatar {
  float: left;
  margin-right: 15px;

  &:hover {
    $img: "avatars/ourai-mask-100px.jpg";

    @include covered_background($img);
    @include image-set(
        image-url($img) 1x,
        image-url("avatars/ourai-mask-200px.jpg") 2x
      );

    img {
      display: none;
    }
  }

  img {
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    float: none;
    margin-right: auto;
    @include inline-block;
  }
}

.Profile-name {
  margin: {
    top: 7px;
    bottom: 2px;
  }
  font-size: 30px;
  line-height: 1.2;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #666;
    }
  }

  @media (min-width: 768px) {
    margin: {
      top: 20px;
      bottom: 7px;
    }
  }
}

.Profile-professions,
.Profile-contacts {
  font-size: 12px;

  ul {
    @include unstyled_list;
    @include inline-block(top);
    margin: 0;
  }

  li {
    @include inline-block(top);
  }
}

.Profile-professions {
  margin-bottom: 15px;
  color: #9A9A9A;

  @media (min-width: 768px) {
    margin-bottom: auto;
  }

  a {
    color: inherit;
  }

  li {
    height: 18px;
    overflow: hidden;

    &:before {
      content: "/";
      @include inline-block(baseline);
      margin: 0 3px;
      font-family: monospace;
    }

    &:first-child:before {
      display: none;
    }
  }
}

.Profile-contacts {
  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
  }

  li {
    line-height: 16px;

    &:before,
    span,
    a {
      @include inline-block;
    }

    span,
    a {
      margin: 0 2px;
    }

    &:before {
      content: "\00B7";
      margin: 0 1px;
      font-family: monospace;
    }

    &:first-child:before {
      display: none;
    }
  }
}

.Contact-location {
  @media (max-width: 767px) {
    display: none !important;
  }

  img {
    @include square(16px);
    vertical-align: middle;
  }
}

.Profile-description {
  margin: {
    top: 30px;
    bottom: 0;
  }
  padding: 0;
  clear: both;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 768px) {
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }
}



.Icon a {
  font: 0px/0 a;
  @include square(16px);
  @include covered_background;
}

.Icon--email {
  @media (max-width: 767px) {
    &:before {
      display: none !important;
    }

    a {
      margin-left: 0 !important;
    }
  }

  a {
    $img: "logos/envelope-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/envelope-64px.png") 2x
      );

    @media (min-width: 768px) {
      background-image: none;
      @include square(auto);
      font: {
        family: inherit;
        size: inherit;
      }
      line-height: inherit;
    }
  }
}

.Icon--li a {
  $img: "logos/LinkedIn-34px.png";

  background-image: image-url($img);
  @include image-set(
      image-url($img) 1x,
      image-url("logos/LinkedIn-66px.png") 2x
    );
}

.Icon--gh a {
  $img: "logos/GitHub-32px.png";

  background-image: image-url($img);
  @include image-set(
      image-url($img) 1x,
      image-url("logos/GitHub-64px.png") 2x
    );
}

.Icon--sf a {
  $img: "logos/sf-32px.png";

  background-image: image-url($img);
  @include image-set(
      image-url($img) 1x,
      image-url("logos/sf-64px.png") 2x
    );
}

.Icon--cw a {
  $img: "logos/Codewars-32px.png";

  background-image: image-url($img);
  @include image-set(
      image-url($img) 1x,
      image-url("logos/Codewars-64px.png") 2x
    );
}



// Nav tabs

.Navs {
  margin: auto;
  padding-bottom: 13px;
  background-color: #FFF;
  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1));
  text-align: center;

  &:before {
    content: "\0020";
    display: block;
    width: 96%;
    height: 1px;
    margin: 0 auto;
    background-color: #EEE;
  }

  ul {
    @include unstyled_list;
    margin: 13px auto 0;
    display: table;
    table-layout: fixed;
  }
}

.Nav-cell {
  display: table-cell;

  a {
    display: block;
    width: 100px;
    text-decoration: none;
    line-height: 1.4;

    &:hover,
    &.is-active {
      .Cell-count,
      .Cell-label {
        color: #BD081C !important;
      }
    }

    @media (min-width: 768px) {
      width: 120px;
    }
  }
}

.Cell-count,
.Cell-label {
  display: block;
}

.Cell-count {
  font-size: 16px;
  font-weight: bold;
  color: #AAA;
}

.Cell-label {
  font-size: 12px;
  color: #9A9A9A;
}



.Grid,
.Grid * {
  @include box-sizing(border-box);
}

.Grid {
  display: none;
  margin: 0 auto;
  @include clearfix;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

  &.is-active {
    display: block;
  }
}

.Grid-item {
  width: 100%;
  float: left;
  padding: 0 7.5px;
  margin-top: 15px;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 992px) {
    width: 33.3333333%;
  }

  @media (min-width: 1200px) {
    width: 25%;
  }
}



.Card {
  position: relative;
  overflow: hidden;
  min-height: 150px;
  background-color: #FFF;
  @include border-radius(6px);
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.22));
}

.Card-link,
.Card-thumbnail {
  @include stretch;
}

.Card-link {
  z-index: 3;
  padding: 15px;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 1.2;

  &,
  &:hover {
    color: #555;
  }
}

.Card-thumbnail {
  z-index: 2;
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: cover;
  }
  opacity: .1;
  border-radius: 6px;

  img {
    display: none;
  }
}

.Card-name {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.Card-description {
  margin: {
    top: 10px;
    bottom: 0;
  }
  line-height: 1.5;
}



.Repo-name {
  float: left;
}

.Repo-language,
.Repo-stargazers {
  display: block;
  font-weight: bold;
}

.Repo-language {
  text-align: right;
  font-size: 10px;
  line-height: 14px * 1.5;
}

.Repo-stargazers,
.Skill-level {
  clear: both;
  margin-top: 5px;
  font-size: 12px;
}



.Demos {
  .Card-name,
  .Card-description {
    @include transition(color .75s);
  }

  .Card-thumbnail {
    @include transition(opacity .75s);
  }

  .Card:hover {
    .Card-name,
    .Card-description {
      color: transparent;
    }

    .Card-thumbnail {
      opacity: 1;
    }
  }
}



// .Score,
// .Score .Score-level,
// .Score--selectable {
//   background-image: image-url("images/star.png")
// }

// .Skill-level {
//   display: block;
// }
