@import "../helper";

@mixin fake_image( $url, $size, $pos ) {
  &:#{$pos} {
    content: $UN-space;
    display: block;
    @include square($size);
    background: #FFF image-url($url) no-repeat 50% 50%;
    background-size: contain;
  }
}

body {
  padding-bottom: 100px;
}

section {
  margin-top: 50px;

  > header {
    margin-bottom: 15px;

    > h2 {
      margin: 0;
      font-size: 30px;
    }
  }

  > p:last-of-type {
    margin-bottom: 0;
  }
}

#banner {
  $qr_size: 43px;

  height: 400px;
  background: {
    color: #353535;
    image: linear-gradient(to right, #353535, #808080);
  }

  .container {
    height: 100%;
    padding: 100px 0 0 700px;
    overflow: hidden;
    color: #FFF;

    @include covered_background("banners/ourai-mono.jpg");
    @include fake_image("qrcodes/ourairyu-258.jpg", 129px, after);
    @include text-shadow(1px 1px 8px #000);
  }

  h1,
  p {
    line-height: 1;
  }

  h1 {
    margin: 0;
    font-size: 3.2em;
  }

  p {
    margin: 15px 0 30px;
    font: {
      size: 1.5em;
      style: italic;
    }
  }

  @media (max-width: $screen-md-max) {
    height: 340px;

    .container {
      padding: 66px 0 0 580px;
    }

    h1 {
      font-size: 3em;
    }

    p {
      margin: 13.5px 0 26px;
      font-size: 1.35em;
    }
  }

  @media (max-width: $screen-sm-max) {
    height: 300px;

    .container {
      padding: 76px 0 0 460px;

      &:after {
        @include square($qr_size * 2);
      }
    }

    h1 {
      font-size: 2.8em;
    }

    p {
      margin: 12px 0 24px;
      font-size: 1.2em;
    }
  }

  @media (max-width: $screen-xs-max) {
    $gap: 10px;

    height: 150px;

    .container:after,
    h1,
    p {
      position: absolute;
    }

    .container {
      position: relative;
      padding: 0;

      &:after {
        @include square($qr_size);
        right: $gap;
        bottom: 10px;
      }
    }

    h1,
    p {
      right: $qr_size + $gap * 2;
    }

    h1 {
      bottom: 32px;
      font-size: 1.3em;
    }

    p {
      bottom: 12px;
      margin: 0;
      font: {
        size: .8em;
        style: normal;
      }
    }
  }
}

#brief {
  margin-top: 20px;

  > p {
    margin: 1em 0 0;

    &:first-of-type {
      margin-top: 0;
      overflow: hidden;

      strong.Font--large {
        $h: 16px * 1.5;
        $s: $h * 2 - ($h - 16px) / 2;

        float: left;
        margin: {
          top: ($h * 2 - $s) / 2;
          right: 3px;
        }
        font-size: $s;
        line-height: 1;
      }
    }
  }
}

#company {
  color: transparent;
  text-decoration: none;
  background: #FED403 image-url("maihaoche-text.png") no-repeat 50% 50%;
  background-size: contain;
}

#posts {
  header p {
    margin-top: 15px;
  }

  ul {
    margin: 0;

    .fa {
      margin: {
        right: .5em;
        left: .5em;
      }
      font-size: 14px;
    }
  }
}
