@import "../helper";

.Article-author {
  padding: 15px;
  background-color: #ececec;
  border-radius: 6px;

  .Author-name {
    position: relative;
    margin: 0;
    font: {
      size: 18px;
      weight: inherit;
    }

    a {
      color: #333;
      text-decoration: none;
    }

    &:before {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 104px;
      height: 104px;
      content: $UN-space;
      border-radius: 3px;
      box-shadow: 0 0 5px #000;
      opacity: .2;
      @include transform(rotate(10deg));
      @include covered_background("pages/home/avatar.jpg");
    }
  }

  .Author-intro {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.3;
    
    &,
    a {
      color: #555;
    }

    a:hover {
      color: #333;
    }
  }

  @media all and (min-width: $screen-lg-min) {
    .Author-name:before {
      width: 86px;
      height: 86px;
    }
  }

  @media all and (max-width: $screen-sm-max) {
    padding: 0;
    background-color: transparent;

    .Author-name:before {
      display: none;
    }

    .Author-intro {
      font-size: inherit;
    }
  }
}
