@import "../helpers";



body {
  background-color: #E9E9E9;
}

.layout--sandwich .layout-container {
  &:before{
    display: none;
  }

  &:after {
    height: 30px;
  }
}



// Profile

.Profile {
  padding: {
    top: 30px;
    bottom: 25px;
  }
  text-align: center;
  background-color: #FFF;
}

.Profile-avatar,
.Profile-avatar img {
  @include square(100px);
  @include border-radius(50%);
  background-color: #9A9A9A;
}

.Profile-avatar {
  @include inline-block;

  &:hover {
    background-image: url("/images/avatars/mask.jpg");
    @include covered_background;

    img {
      display: none;
    }
  }

  img {
    vertical-align: middle;
  }
}

.Profile-name {
  margin: {
    top: 20px;
    bottom: 3px;
  }
  font-size: 30px;
  line-height: 1.2;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #666;
    }
  }
}

.Profile-professions,
.Profile-contacts {
  @include no_item;
  @include no_gap;
  @include inline-block;
  font-size: 12px;

  li {
    @include inline-block;
  }
}

.Profile-professions {
  color: #9A9A9A;
}

.Profile-contacts li {
  line-height: 16px;

  &:before,
  span,
  a {
    @include inline-block;
  }

  span,
  a {
    margin: 0 2px;
  }

  &:before {
    content: "\00B7";
    margin: 0 1px;
    font-family: monospace;
  }

  &:first-child:before {
    display: none;
  }
}

.Contact-location {
  @media (max-width: 767px) {
    display: none !important;
  }

  img {
    @include square(16px);
    vertical-align: middle;
  }
}

.Profile-description {
  margin: {
    top: 20px;
    bottom: 20px;
  }
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}



.Icon a {
  font: 0px/0 a;
  @include square(16px);
  @include covered_background;
}

.Icon--email {
  @media (max-width: 767px) {
    &:before {
      display: none !important;
    }
  }

  a {
    $img: "/images/logos/envelope-32px.png";

    background-image: url($img);
    @include image-set(
        url($img) 1x,
        url("/images/logos/envelope-64px.png") 2x
      );

    @media (min-width: 768px) {
      background-image: none;
      @include square(auto);
      font: {
        family: inherit;
        size: inherit;
      }
      line-height: inherit;
    }
  }
}

.Icon--gh a {
  $img: "/images/logos/GitHub-32px.png";

  background-image: url($img);
  @include image-set(
      url($img) 1x,
      url("/images/logos/GitHub-64px.png") 2x
    );
}

.Icon--sf a {
  $img: "/images/logos/sf-32px.png";

  background-image: url($img);
  @include image-set(
      url($img) 1x,
      url("/images/logos/sf-64px.png") 2x
    );
}

.Icon--cw a {
  $img: "/images/logos/Codewars-32px.png";

  background-image: url($img);
  @include image-set(
      url($img) 1x,
      url("/images/logos/Codewars-64px.png") 2x
    );
}



// Nav tabs

.Navs {
  margin: auto;
  padding-bottom: 13px;
  background-color: #FFF;
  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1));
  text-align: center;

  &:before {
    content: "\0020";
    display: block;
    width: 96%;
    height: 1px;
    margin: 0 auto;
    background-color: #EEE;
  }

  ul {
    @include no_item;
    margin: 13px auto 0;
    padding: 0;
    display: table;
    table-layout: fixed;
  }
}

.Nav-cell {
  display: table-cell;

  a {
    display: block;
    width: 120px;
    text-decoration: none;
    line-height: 1.4;

    &:hover,
    &.is-active {
      .Cell-count,
      .Cell-label {
        color: #BD081C !important;
      }
    }
  }
}

.Cell-count,
.Cell-label {
  display: block;
}

.Cell-count {
  font-size: 16px;
  font-weight: bold;
  color: #AAA;
}

.Cell-label {
  font-size: 12px;
  color: #9A9A9A;
}



.Grid,
.Grid * {
  @include box-sizing(border-box);
}

.Grid {
  display: none;
  margin: 0 auto;
  @include clearfix;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

  &.is-active {
    display: block;
  }
}

.Grid-item {
  width: 100%;
  float: left;
  padding: 0 7.5px;
  margin-top: 15px;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 992px) {
    width: 33.3333333%;
  }

  @media (min-width: 1200px) {
    width: 25%;
  }
}

.Card {
  position: relative;
  min-height: 150px;
  background-color: #FFF;
  @include border-radius(6px);
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.22));

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    text-decoration: none;
  }
}



.Repo-name {
  margin: 0;
  float: left;
}

.Repo-language,
.Repo-stargazers {
  display: block;
  font-weight: bold;
}

.Repo-language {
  text-align: right;
  font-size: 10px;
  line-height: 14px * 1.5;
}

.Repo-stargazers,
.Skill-level {
  clear: both;
  margin-top: 5px;
  font-size: 12px;
}

.Repo-description,
.Skill-description {
  line-height: 1.5;
}



.Score,
.Score .Score-level,
.Score--selectable {
  background-image: url("/images/star.png")
}

.Skill-title {
  margin: 0;
}

.Skill-level {
  display: block;
}
