@import "../helper";



.Article-header {
  p,
  .Article-tags {
    float: left;
    margin-top: .75em;
    font-size: 14px;
  }

  p {
    color: #999;
  }
}

.Article-tags {
  margin-left: 1em;

  span,
  ul,
  li {
    float: left;
  }

  ul {
    list-style: none inside none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      margin-left: .5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* ==========
 * 作者信息
 * ========== */
.Article-author {
  padding: 15px;
  background-color: #ececec;
  border-radius: 6px;

  .Author-name {
    position: relative;
    margin: 0;
    font-size: 18px;

    a {
      color: #333;
      text-decoration: none;
    }

    &:before {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 100px;
      height: 100px;
      content: $UN-space;
      border-radius: 3px;
      box-shadow: 0 0 5px #000;
      opacity: .2;
      @include transform(rotate(10deg));
      @include covered_background("avatars/ourai-mask-100px.jpg");
    }
  }

  .Author-twitter {
    font: {
      size: 14px;
      weight: 300;
    }
    color: #1DA1F2 !important;
  }

  .Author-intro {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #555;

    strong {
      color: #333;
    }
  }

  .fa-coffee {
    color: #000;
  }

  .fa-heart {
    color: #f00;
  }

  @media all and (min-width: $screen-md-min) {
    font-weight: normal;
  }

  @media all and (max-width: $screen-sm-max) {
    padding: 0;
    background-color: transparent;

    .Author-name:before {
      display: none;
    }

    .Author-intro {
      font-size: inherit;
    }
  }
}

.Article-category .Widget-body {
  > p {
    margin-bottom: 10px;
    color: #888;
  }

  h3 {
    margin: 0;
    font-size: 16px;
  }

  > div {
    p {
      margin-top: 10px;
    }    
  }

  .fa-pencil {
    margin-right: .5em;
    color: #333;
  }
}

.Article-license {
  a {
    margin-right: .5em;
  }

  .fa {
    margin: {
      right: .15em;
      left: .5em;
    }
  }
}

.Article-series {
  padding-top: 20px;
  border-top: 1px solid #eee;

  p {
    &:first-child {
      font: {
        size: 12px;
        weight: normal;
      }

      strong {
        font-size: 16px;
      }
    }

    + p {
      font-size: 12px;
      color: #888;
      margin: {
        top: 3px;
        bottom: 10px;
      }
    }
  }

  ul {
    list-style-position: inside;
    margin-bottom: 0;
    padding-left: 5px;
  }

  li span {
    font-weight: normal;
  }
}

.Widget--toc.affix-top {
  padding-top: 20px;
  border-top: 1px solid #eee;
}
