@charset "UTF-8";



body {
	font-size: 14px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB", Tahoma, Verdana, "BitStream vera Sans", Arial, Helvetica, Sans-serif;
	background-color: #EEE;
}
a { text-decoration: none; }

.layout-content { width: 960px; margin: 0 auto; }
.avatar_32 { display: block; width: 32px; height: 32px; }

#header { width: 100%; height: 60px; background-color: #505050; }
#header .layout-content { position: relative; z-index: 1; }
#header .layout-content > * { float: left; }

#logo { color: #AAA; line-height: 60px; padding: 0 1em; cursor: default; font-family: Verdana; }

#container { margin-top: 20px; }



/* --- Header: navigator --- */

#navigator li { border-left: 1px solid #333; float: left; }
#navigator li a {
	display: block;
	font: normal bold 1.2em/60px Georgia; color: #DDD; text-transform: uppercase;
	padding: 0 1em;
}
#navigator li a:hover { background-color: #333; color: #FFF; }



/* --- Header: user account --- */
#account {
	position: absolute; top: 9px; right: 0; z-index: 2;
	background-color: #444;
}
#account:hover dt { background-color: #333; }
#account:hover dd { display: block; }
#account dt { width: 160px; overflow: hidden; line-height: 42px; color: #FFF; cursor: pointer; }
#account dt > * { float: left; }
#account dt img { margin: 5px 10px 5px 5px; }
#account dt i { display: none; }
#account dd { display: none; background-color: #FFF; }
#account dd ul { padding: 5px; }
#account dd li { border-top: 1px solid #A6A6A6; margin-top: 5px; }
#account dd li:first-child,
#account dd li:first-child a { border-top-width: 0; margin-top: 0; }
#account dd a { display: block; padding: 3px 8px; margin-top: 5px; }
#account dd a:hover { background-color: #EEE; }



/* --- Menu --- */

#menu { float: left; width: 160px; }

.menu-item {
	position: relative;
	background-color: #F7F7F7;
	border: 1px solid #A6A6A6; border-top-width: 0;
}
.menu-item:first-child { border-top-width: 1px; }
.menu-item > a { display: block; padding: 5px 8px; text-align: right; }
.menu-item:hover { background-color: #FFF; }
.menu-item:hover .submenu { display: block; }

.submenu {
	display: none;
	border: 1px solid #A6A6A6; border-left-width: 0;
	position: absolute; z-index: 999; top: -1px; right: -173px;
	background-color: #FFF;
	padding: 5px;
}