<meta charset="UTF-8">
<!-- 页面渲染兼容性 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- 站点信息 -->
{% if page.special_title %}
  {% assign page_title = page.special_title %}
{% else %}
  {% if page.type == "category" %}
    {% assign categories = site.data.categories %}

    {% if categories[page.title] == null %}
      {% assign title_prefix = page.title %}
    {% else %}
      {% assign title_prefix = categories[page.title].name %}
    {% endif %}

    {% assign title_prefix = title_prefix | prepend: "「" | append: "」类别的文章 - " %}
  {% elsif page.type == "tag" %}
    {% assign tags = site.data.tags %}

    {% if tags[page.title] == null %}
      {% assign title_prefix = page.title %}
    {% else %}
      {% assign title_prefix = tags[page.title].name %}
    {% endif %}

    {% assign title_prefix = title_prefix | prepend: "「" | append: "」标签的文章 - " %}
  {% else %}
    {% if page.title %}
      {% assign title_prefix = page.title | append: " - " %}
    {% else %}
      {% assign title_prefix = "" %}
    {% endif %}
  {% endif %}

  {% assign page_title = title_prefix | append: site.title %}
{% endif %}
<title>{{ page_title }}</title>
{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = site.keywords %}
{% endif %}
{% unless keywords == null or keywords == blank %}
  <meta name="keywords" content="{{ keywords }}">
{% endunless %}
{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = site.description %}
{% endif %}
{% unless description == null or description == blank %}
  <meta name="description" content="{{ description | strip_html }}">
{% endunless %}
{% feed_meta %}
<link type="application/rss+xml" rel="alternate" href="http://ourai.ws/rss.xml" title="{{ site.title }}">
<link rel="author" href="http://ourai.ws/">
<!-- 站点 icon -->
<link rel="icon" href="{{ 'favicon.ico' | asset_path }}">
