<meta charset="UTF-8">
<!-- 页面渲染兼容性 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- 站点信息 -->
{% if page.special_title %}
  <title>{{ page.special_title }}</title>
{% else %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
{% endif %}
{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = site.keywords %}
{% endif %}
{% unless keywords == null or keywords == blank %}
  <meta name="keywords" content="{{ keywords }}">
{% endunless %}
{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = site.description %}
{% endif %}
{% unless description == null or description == blank %}
  <meta name="description" content="{{ description | strip_html }}">
{% endunless %}
