<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ page.keywords || site.keywords || '' }}">
    <meta name="description" content="{{ page.desc || site.desc || '' }}">
    <link rel="author" href="{{ site.author.name_en }}">
    <link rel="shortcut icon" href="{{ site.url.root }}/{{ site.url.img }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.url.root }}/{{ site.url.css }}/matcha.min.css">
    <link rel="stylesheet" href="{{ site.url.root }}/{{ site.url.css }}/site.css">
    {% if page.css %}
      {% for css in page.css %}
    <link rel="stylesheet" href="{{ site.url.root }}/{{ site.url.css }}/{{ css }}.css">
      {% endfor %}
    {% endif %}
    <!--[if lt IE 9]>
    <script src="{{ site.url.root }}/{{ site.url.js }}/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script src="{{ site.url.root }}/{{ site.url.js }}/jquery.min.js"></script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" data-layout="{{ page.layout_type }}">
    <header class="layout-header">
      <nav class="layout-nav layout-inner">
        <ul>
          <li><a href="/">Home</a></li>
          <!--
          <li><a href="/posts/">Articles</a></li>
          <li><a href="/projects/">Projects</a></li>
        -->
        </ul>
      </nav>
    </header>
    <main class="layout-container">
