---
layout: demo
title: 登录框
desc: Sign in panel
category: demo
limitIE: true
---

<link rel="stylesheet" href="{{ site.url.demo }}css/signin.css">

<form action="#" method="get">
  <dl>
    <dt>用户名</dt>
    <dd><input type="text" placeholder="输入用户名"></dd>
    <dt><span>密</span>码</dt>
    <dd><input type="password" placeholder="输入密码"></dd>
    <dt>验证码</dt>
    <dd><input type="text" placeholder="输入验证码"></dd>
    <dt class="hide-text">登录</dt>
    <dd><input type="submit" value="登录"></dd>
  </dl>
</form>
