---
layout: page
---
{% assign category = site.data.categories[page.title] %}

{% contentfor post_title %}{{ category.name | prepend: "「" | append: "」类别的文章" }}{% endcontentfor %}

{% if category.banner %}
{% contentfor post_banner %}
  <div class="Page-banner">
    <figure class="container" style="background-image: url({{ category.banner.url | asset_path }});">
      <img src="{{ category.banner.url | asset_path }}" alt="{{ category.banner.description }}">
      <figcaption>{{ category.banner.description }}</figcaption>
    </figure>
  </div>
{% endcontentfor %}
{% endif %}

{% if category.description %}
{% contentfor post_meta %}
  <p>{{ category.description }}</p>
{% endcontentfor %}
{% endif %}

<ul class="ArticleList">
  {% for post in page.posts %}
    <li class="ArticleList-item"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%F" }}</time><i class="fa fa-pencil"></i><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
