body {
  font-size: 14px;
  line-height: $line_height;
}

a {
  &:link,
  &:visited {
    color: #758694;
    text-decoration: none;
  }

  &:hover {
    color: $color-text-light;
    text-decoration: underline;
  }
}

code {
  background-color: #FFF;
}

pre {
  @include block_content;

  code {
    background: none;
  }
}

[lang="zh-CN"] {
  font-family: $font_family-hei;
}

[lang="en"] {
  font-family: $font_family;
}
