@import "compass";

// Font
$font_family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
$font_family-hei: "Microsoft Yahei", "Hiragino Sans GB", Tahoma, Verdana, "BitStream vera Sans", Arial, Helvetica, Sans-serif;
$font_size: 100%;
$line_height: 1.5;

// Text
$color-title: #444;
$color-text: #333;
$color-text-medium: #666;
$color-text-light: #888;
$color-link: #3F6D77;
$color-link-hover: #518C99;

// Border
$border_color: #B8C4C8;

@function percent( $divisor, $dividend ) {
  @return $divisor / $dividend * 100%;
}

@mixin base-font( $font_size: $font_size ) {
  font: {
    style: normal;
    weight: normal;
    family: $font_family;
    size: $font_size;
  }

  line-height: $line_height;
}

// IE6 only
@mixin hack-ie6 {
  * html {
    @content;
  }
}

@mixin square( $size: 16px ) {
  width: $size;
  height: $size;
}

@mixin triangle( $width: 5px, $color: #000, $dir: top ) {
  @include text-hide;
  position: absolute;
  width: 0 !important;
  height: 0 !important;
  border: $width solid transparent;
  border-#{$dir}-color: $color;
}

@mixin card_style {
  border: 1px solid #E0E0E0;
  border-bottom-width: 2px;
  border-radius: 2px;
}

@mixin no_item {
  list-style: none outside none;
}

@mixin tag_unit {
  @include inline-block(none);
  max-width: 120px;
  margin-right: 5px; padding: 0 8px;
  border-radius: 2px;
  background-color: #DCE4E6;
  color: $color-text-medium !important;
  text-decoration: none !important;
  @include text-ellipsis;
}



// !!! Placefolders for future

@mixin text-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin text-hide {
  color: transparent;
  border: 0 none;
  font: 0px/0 a;
  text-shadow: none;
  // Use a transparent image to set as the background of it to fix bug of IE6/7/8.
  background: transparent image-url("transparent.gif") repeat;
}

@mixin line_feed {
  word-wrap: break-word;
  word-wrap: normal\0;
  word-break: break-all;
  white-space: normal;
}

@mixin no_gap {
  margin: 0;
  padding: 0;
}

// refer to http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: "\0020";
    display: table;
  }

  &:after {
    clear: both;
  }
}
