@import "layouts/sandwich";

@include layout-sandwich(960px, 50px, 120px);

body[data-layout="sandwich"] {
  .layout-nav,
  .layout-nav li,
  .layout-nav a {
    display: block;
    height: 100%;
  }

  .layout-nav {
    ul {
      @include no_item;
      @include no_gap;
      @include clearfix;

      li {
        float: left;

        a {
          $c: #A6A6A6;
          
          line-height: 50px;
          text-transform: uppercase;
          padding: {
            left: 1.2em;
            right: 1.2em;
          }

          &:hover {
            text-decoration: none;
            border-bottom: 2px solid $c;
            height: 48px;
            color: $c;
          }
        }
      }
    }
  }

  .layout-main {
    width: auto;
    float: none;
  }

  .layout-footer {
    font: {
      size: 12px;
      family: Verdana;
    }
    color: $color-text;
    border-top: 1px solid #DDD;
    background-color: #EEE;
    @include box-shadow(0 0.5em 1em -1em #666 inset);
    overflow: hidden;

    p {
      @include no_gap;
    }

    .copyright {
      margin-top: 25px;
    }
  }
}

@media all and (max-width: 1000px) {
  .layout-inner {
    padding: {
      left: 1.2em;
      right: 1.2em;
    }
  }
}
