@charset "UTF-8";



body { color: #333; background-color: #F7F7F7; }
pre { border: 1px solid #CCC; border-radius: 3px; padding: .5em; background-color: #EEE; }



.layout-header,
.layout-footer,
.layout-content-head,
.layout-content-body { padding: 1em; }

.layout-header { border-bottom: 1px solid #CCC; }
.layout-footer { border-top: 1px dashed #DEDEDE; }

.layout-nav { text-transform: uppercase; }
.layout-nav ul {
  margin: 0; padding: 0;
  list-style: none outside none;
  overflow: hidden;
}
.layout-nav li { float: left; margin-left: 1em; }
.layout-nav li:first-child { margin-left: 0; }
.layout-nav a { text-decoration: none; font-family: Verdana, sans-serif; font-size: .9em; color: #666; }
.layout-nav a:hover { color: #888; }



.copyright { font-family: Verdana, sans-serif; font-size: .9em; }



.layout-content-head {
  overflow: hidden;
  margin-bottom: 2em;
  background: url("../images/bg-content-kai.png");
}

.article-title,
.article-meta { overflow: hidden; }

.article-title { margin-bottom: 1em; }

.article-meta { padding: .5em; }
.article-meta .avatar_url { float: left; }
.article-meta .avatar {
  width: 3.5em; height: 3.5em;
  box-sizing: border-box;
  border: 3px solid #FFF; border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
  margin-right: 1em;
}
.article-meta .author {
  display: inline-block; *display: inline; *zoom: 1;
  font-family: Georgia; font-size: 1.2em;
  margin: .2em 0 .3em;
}
.article-meta time { display: block; font-family: Verdana, sans-serif; font-size: .9em; }
