@import "../helper";

.Page-banner {
  height: 400px;
  background: {
    color: #353535;
    image: linear-gradient(to right, #353535, #808080);
  }

  @media (max-width: $screen-md-max) {
    height: 340px;
  }

  @media (max-width: $screen-sm-max) {
    height: 300px;
  }

  @media (max-width: $screen-xs-max) {
    height: 150px;
  }
}
