@import "../helpers";
@import "../layouts/frameset";

@include layout-frameset(200px, 100px, 100px);
/*  body,
  header,
  footer,
  div { margin: 0 }*/
html,
body {
  min-width: 400px;
}

.layout-header,
.layout-footer {
  text-align: center;
  text-transform: capitalize;
  font: bold 16px/100px "Times New Roman";
  text-shadow: 1px 1px #FFF;
}

.layout-main,
.layout-sub {
  min-height: 200px;
}

.layout-header {
  background-color: #F0F;
}

.layout-sub {
  background-color: lime;
  width: 200px;
  float: left;
}

.layout-main {
  background-color: gold;
  min-width: 200px;
}

.layout-footer {
  background-color: silver;
}
