@import "../helper";

body {
  padding-bottom: 100px;
}

section {
  margin-top: 50px;

  > header {
    margin-bottom: 15px;

    > h2 {
      margin: 0;
      font-size: 30px;
    }
  }
}

#banner {
  height: 400px;
  // background-color: gray;

  .Grid {
    height: 100%;
    padding: 100px 0 0 700px;
    @include covered_background("banners/ourai-mono.jpg");
    @include text-shadow(1px 1px 8px #000);
    overflow: hidden;
    color: #FFF;
  }

  h1,
  p {
    line-height: 1;
  }

  h1 {
    margin: 0;
    font-size: 3.2em;
  }

  p {
    margin: 15px 0 30px;
    font: {
      size: 1.5em;
      style: italic;
    }
  }

  @media (max-width: $break-md-max) {
    height: 340px;

    .Grid {
      padding: 66px 0 0 580px;
    }

    h1 {
      font-size: 3em;
    }

    p {
      margin: 13.5px 0 26px;
      font-size: 1.35em;
    }
  }

  @media (max-width: $break-sm-max) {
    height: 300px;

    .Grid {
      padding: 76px 0 0 460px;
    }

    h1 {
      font-size: 2.8em;
    }

    p {
      margin: 12px 0 24px;
      font-size: 1.2em;
    }

    #qrcode {
      width: 86px;
    }
  }
}

#qrcode {
  width: 129px;
  vertical-align: top;
}

#brief {
  margin-top: 20px;

  p {
    margin: 10px 0 0;

    &:first-of-type {
      margin-top: 0;
      overflow: hidden;

      strong.Font--large {
        $h: 16px * 1.5;
        $s: $h * 2 - ($h - 16px) / 2;

        float: left;
        margin: {
          top: ($h * 2 - $s) / 2;
          right: 3px;
        }
        font-size: $s;
        line-height: 1;
      }
    }
  }
}

#company {
  @include inline-block;
  width: $font-size-base * 3 + 4px;
  height: $font-size-base;
  font: 0px/0 a;
  text-decoration: none;
  background: #FED403 image-url("maihaoche-text.png") no-repeat 50% 50%;
  background-size: contain;
}

#posts {
  // margin: 0 0 10px;

  h3 {
    margin: 0;
    font-size: inherit;
  }

  time {
    margin-left: 1em;
    font-style: italic;
  }
}
