<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>页脚下沉至页面底部</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="布局,页脚,layout,footer">
    <meta name="description" content="footer 下沉到页面底部的 demo">
  </head>
  <body>
    <!-- Page header -->
    <header class="layout-header">
      <div class="layout-inner">
        <!-- Site's logo -->
        <img id="logo" src="">
        <!-- Navi -->
        <ul class="header-nav nav">
          <li><a href="#">navi item 1</a></li>
          <li><a href="#">navi item 2</a></li>
          <li><a href="#">navi item 3</a></li>
          <li><a href="#">navi item 4</a></li>
          <li><a href="#">navi item 5</a></li>
        </ul>
        <!-- Toolbar -->
        <ul class="header-nav toolbar">
          <li>
            <a href="#" controller="notifications" id="noticeBell" title="进入消息中心">
              <img alt="notification" src="<?php echo $cur_uri; ?>image/bell.png">
              <span class="counter"></span>
            </a>
          </li>
          <li>
            <a href="/users/ou-lei" id="account" title="账户信息">
              <img class="avatar" id="my_avatar_img" src="<?php echo $cur_uri; ?>image/avatar_default.jpg">
              <span class="name">欧雷</span>
              <i class="tri"></i>
            </a>
            <!-- Sub menu -->
            <ul class="subnav">
              <li class="tri tri_bg"></li>
              <li class="tri tri_fg"></li>
              <li><a class="my_courses" href="#" title="我的课程"><i></i>我的课程</a></li>
              <li><a class="my_tasks" href="#" title="我的任务"><i></i>我的任务</a></li>
              <li><a class="my_exercises" href="#" title="我的错题集"><i></i>我的错题集</a></li>
              <li><a class="my_friends" href="#" title="我的好友"><i></i>我的好友</a></li>
              <li class="sn_separator"><a class="my_schools" href="#" title="返回到组织选择页面"><i></i>组织列表</a></li>
              <li class="sn_separator"><a href="#" class="sn_signout" id="logout" rel="nofollow" title="退出"><i></i>退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <!-- Page content -->
    <div class="layout-container layout-inner">
      <div id="breadcrumb" class="layout-breadcrumb layout-inner"></div>
      <div class="layout-content layout-inner clr"></div>
    </div>
    <!-- Page footer -->
    <footer class="layout-footer layout-inner">
      <span id="copyright">&copy; Organization</span>
    </footer>
  </body>
</html>
