.Icon {
  a {
    font: 0px/0 a;
    @include square(16px);
    @include covered_background;
  }

  &.Icon--email {
    @media (max-width: 767px) {
      &:before {
        display: none !important;
      }

      a {
        margin-left: 0 !important;
      }
    }

    a {
      $img: "logos/envelope-32px.png";

      background-image: image-url($img);
      @include image-set(
          image-url($img) 1x,
          image-url("logos/envelope-64px.png") 2x
        );

      @media (min-width: 768px) {
        background-image: none;
        @include square(auto);
        font: {
          family: inherit;
          size: inherit;
        }
        line-height: inherit;
      }
    }
  }

  &.Icon--li a {
    $img: "logos/LinkedIn-34px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/LinkedIn-66px.png") 2x
      );
  }

  &.Icon--gh a {
    $img: "logos/GitHub-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/GitHub-64px.png") 2x
      );
  }

  &.Icon--sf a {
    $img: "logos/sf-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/sf-64px.png") 2x
      );
  }

  &.Icon--cw a {
    $img: "logos/Codewars-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/Codewars-64px.png") 2x
      );
  }

  &.Icon--is a {
    background-image: image-url("logos/instagram-300px.png");
  }

  &.Icon--tw a {
    $img: "logos/twitter-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/twitter-64px.png") 2x
      );
  }

  &.Icon--yk a {
    $img: "logos/youku-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/youku-64px.png") 2x
      );
  }

  &.Icon--wb a {
    $img: "logos/weibo-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/weibo-64px.png") 2x
      );
  }

  &.Icon--zh a {
    $img: "logos/zhihu-32px.png";

    background-image: image-url($img);
    @include image-set(
        image-url($img) 1x,
        image-url("logos/zhihu-64px.png") 2x
      );
  }
}
