.Widget {
  font-size: 14px;

  + .Widget {
    margin-top: 20px;
  }
}

.Widget-header {
  margin-bottom: 10px;
}

.Widget-title {
  margin: 0;
  padding-left: 10px;
  border-left: 3px solid #0871ab;
  font-size: 16px;
  line-height: inherit;
}

.Widget-body {
  p {
    margin-bottom: 0;
  }
}



// 目录
.Widget-toc {
  width: 220px;

  ul {
    list-style: none inside none;
    padding-left: 0;
  }

  > ul {
    margin-bottom: 0;
  }

  .nav {
    > li {
      > a {
        padding: 2px 0 2px 13px;
        border-left: 2px solid transparent;
        color: #666;

        &:hover {
          background-color: transparent;
        }
      }

      &.active {
        > a {
          border-left-color: #0871ab;
          font-weight: bold;
          color: #0871ab
        }
      }

      .nav > li {
        > a {
          padding-left: 28px;
        }

        &.active > a {
          font-weight: normal;
        }
      }
    }
  }

  &.affix {
    top: 20px;
    margin-top: 0;
    @include transition(top .5s);
  }

  @media all and (max-width: $screen-sm-max) {
    display: none;
  }
}
