---
page_category: links

title: 外部链接
description: 一些博客等
permalink: /links/
comments: true
---

{% for category in site.data.links.blog %}
  <section>
    <header>
      <h2>{{ category.title }}</h2>
      {% if category.description %}
        <p>{{ category.description }}</p>
      {% endif %}
    </header>
    <ul>
      {% for blog in category.links %}
        {% if blog.description %}
          {% assign link_desc = blog.description %}
        {% else if blog.author.nickname %}
          {% assign link_desc = blog.author.nickname | append: "的博客" %}
        {% else %}
          {% assign link_desc = blog.author.realname | append: "的博客" %}
        {% endif %}
        <li><a href="{{ blog.url }}" target="_blank" rel="external nofollow" title="{{ link_desc }}">{{ blog.name }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
