---
layout: page
layout_type: sandwich

page_category: projects

title: 商业项目
description: 主要为在职期间所参与过的就职公司的项目
permalink: /projects/
---

{% for project in site.data.projects reversed %}
  <section class="project">
    <header>
      {% assign prj_name = project.name.zh %}
      {% if project.image.thumbnail == true %}
        <div class="project-thumbnail" style="background-image: url('{{ site.data.url.root }}/{{ site.data.url.img }}/projects/{{ project.image.thumbnail }}')"><img src="{{ site.data.url.root }}/{{ site.data.url.img }}/projects/{{ project.image.thumbnail }}" alt="{{ prj_name }}"></div>
      {% endif %}
      <h2 class="project-name"><a href="{{ project.url }}" target="_blank" rel="external nofollow" title="{{ prj_name }}">{{ prj_name }}</a></h2>
      <div class="project-period"><time datetime="{{ project.period.start | date: '%Y-%m-%d' }}">{{ project.period.start | date: "%Y-%m" }}</time> – {% if project.period.end %}<time datetime="{{ project.period.end | date: '%Y-%m-%d' }}">{{ project.period.end | date: "%Y-%m" }}</time>{% else %}<time datetime="{{ site.time | date: '%Y-%m-%d' }}">现在</time>{% endif %}</div>
    </header>
    <div class="project-description">
      <p>{{ project.description }}</p>
    </div>
  </section>
{% endfor %}
