.Page-header {
  border-bottom: 1px solid #dedede;
  background-color: #F5F5F5;

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    font: {
      family: Georgia;
      weight: bold;
    }
    color: inherit;
    text-shadow: 1px 1px #fff;
  }

  .navbar-toggle {
    &:hover {
      background-color: #eee;
      border-color: #eee;
    }

    .icon-bar {
      background-color: #666;
    }
  }
}

.Page-navs {
}

.Page-content:after {
  content: $UN-space;
  display: block;
  height: 100px;

  @media all and (max-width: $screen-sm-max) {
    height: 30px;
  }
}
