/*
  - One column -

<body class="layout--sandwich">
  <header class="layout-header">Header of page</header>
  <main class="layout-container">
    <div class="layout-content layout-inner">Content of page</div>
  </main>
  <footer class="layout-footer">Footer of page</footer>
</body>

  - Two columns -

<body class="layout--sandwich">
  <header class="layout-header">Header of page</header>
  <main class="layout-container">
    <div class="layout-content layout-inner">
      <div class="layout-main">Main content</div>
      <div class="layout-sub">Sub content</div>
    </div>
  </main>
  <footer class="layout-footer">Footer of page</footer>
</body>
*/

@mixin layout-sandwich(
    $page-width: 100%,
    $layout-header-height: 50px,
    $layout-footer-height: 60px,
    $layout-main-width: percent(640px, 960px),
    $layout-sub-width:  percent(300px, 960px)
  ) {
  
  html,
  body {
    height: 100%;
  }

  .layout--sandwich {
    // Header of page
    .layout-header {
      position: relative;
      z-index: 10;
      height: $layout-header-height;
      margin-bottom: -($layout-header-height + 2px);
      background-color: #FFF;
      border-bottom: 2px solid #C5CFD2;

      @media all and (min-width: 0) {
        border-bottom: none;
        box-shadow: 0 2px 0.5em -0.2em #666;
      }
    }

    // Footer of page
    .layout-footer {
      height: $layout-footer-height;
      margin-top: -($layout-footer-height + 1px);
      border-top: 1px solid #B8C4C8;
      background-color: #B8C4C8;
      color: #FFF;
    }

    .layout-container {
      min-height: 100%;

      &:before,
      &:after {
        content: "\0020";
        display: block;
        position: relative;
        z-index: -999999999;
        background: transparent none !important;
        visibility: hidden;
      }

      &:before {
        height: $layout-header-height + 2px;
      }

      &:after {
        height: $layout-footer-height + 1px;
      }
    }

    .layout-content {
      @include clearfix;
    }

    // Main content
    .layout-main {
      width: $layout-main-width;
      float: left;
    }
    
    // Sub content
    .layout-sub {
      width: $layout-sub-width;
      float: right;
    }

    // To limit the width of content
    // and make content center
    .layout-inner {
      max-width: $page-width;
      margin: 0 auto;
    }
  }
}
