---
layout_type: sandwich
css:
  - pages/article
---

{% include header.html %}
  <div class="layout-content layout-inner">
    <article class="article" itemscope itemtype="http://schema.org/Article">
      <header class="article-header">
        <div class="article-title">
          <h1 itemprop="name">{{ page.title }}</h1>
        </div>
        <div class="article-meta">
          <time datetime="{{ page.date | date: '%c' }}" pubdate itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>, by <a class="author" href="{{ site.author.profile }}" target="_blank" itemprop="author">{{ site.author.name_en }}</a>, {% for tag in page.tags %}{{ tag }}{% if forloop.rindex != 1 %} | {% endif %}{% endfor %}
        </div>
      </header>
      <div class="article-body" itemprop="articleBody">{{ content }}</div>
    </article>
    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </div>
{% include footer.html %}
