<!DOCTYPE html>
{% if page.layout_type == null or page.layout_type == blank %}
  <html lang="zh-CN" dir="ltr">
{% else %}
  <html lang="zh-CN" dir="ltr" data-layout="{{ page.layout_type }}">
{% endif %}
  <head>
    {% include head.html %}
    <!-- 样式表文件 -->
    {% stylesheet global %}
    <!-- Stylesheets for template -->
    {% if page.layout_css %}
      {% for css in page.layout_css %}{{ css | stylesheet }}{% endfor %}
    {% endif %}
    <!-- Stylesheets for page -->
    {% if page.css %}
      {% for css in page.css %}{{ css | stylesheet }}{% endfor %}
    {% endif %}
    {% javascript global %}
    <!--[if lt IE 9]>
    {% javascript support_ie8 %}
    <![endif]-->
  </head>
  <body class="Page" itemscope itemtype="http://schema.org/WebPage">
    {{ content }}
    {% if page.layout_js %}
      {% for js in page.layout_js %}{{ js | javascript }}{% endfor %}
    {% endif %}
    {% if page.js %}
      {% for js in page.js %}{{ js | javascript }}{% endfor %}
    {% endif %}
  </body>
</html>
