<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ page.keywords || site.keywords || '' }}">
    <meta name="description" content="{{ page.desc || site.desc || '' }}">
    <link rel="author" href="https://plus.google.com/110971881899489153670/">
    <link rel="shortcut icon" href="{{ site.url.img }}favicon.ico">
    <link rel="stylesheet" href="{{ site.url.css }}base.css">
  </head>
  <body>
    <div id="wrapper">
      {{ content }}
    </div>
  </body>
</html>
