---
template: demo

layout_css:
  - highlight
layout_js:
  - demo
---

{% include intro.html %}
  <header class="demo-summary">
    <a href="#example" class="demo-switcher">示例</a><a href="#code" class="demo-switcher">源码</a>
  </header>
  {{ content }}
  {% if page.layout_js %}
    {% for js in page.layout_js %}
  <script src="{{ js_url }}/{{ js }}.js"></script>
    {% endfor %}
  {% endif %}
  {% if page.js %}
    {% for js in page.js %}
  <script src="{{ js_url }}/{{ js }}.js"></script>
    {% endfor %}
  {% endif %}
{% include outro.html %}
