---
template: doc
---

{% include intro.html %}
  <div class="layout-sub">
    <a href="#" class="toc-title">Tatami <span class="version">(0.3.0)</span></a>
    <ul class="toc-section">
      <li>&raquo; <a href="https://github.com/ourai/tatami">GitHub Repository</a></li>
    </ul>
  </div>
  <main class="layout-main">
    <div class="layout-content">{{ content }}</div>
  </main>
  {% if page.js %}
    {% for js in page.js %}
  <script src="{{ js_url }}/{{ js }}.js"></script>
    {% endfor %}
  {% endif %}
  <script>Tatami.sandbox();</script>
{% include outro.html %}
