---
layout: page
---
<article class="container">
  <header>
    <h1>{{ page.title }}</h1>
    <p><time datetime="{{ page.date }}">{{ page.date | date: "%F" }} {{ page.date | date: "%T" }}</time>发布</p>
  </header>
  <div class="Article-content col-md-9">{{ content }}</div>
  <footer class="col-md-3">
    {% assign author = site.data.authors[page.author] %}
    <div class="Article-meta">
      <p><a href="{{ author.profile }}" class="Author-link--withAvatar"><img src="{{ author.avatar.normal | prepend: 'avatars/' | asset_path }}"></a><a href="{{ author.profile }}" class="Author-link">{{ author.name.zh }}</a>发表于<br>{{ page.categories | join: " & " }}</p>
      <div id="supportAuthor">
        <p>如果您觉得文章内容有所帮助，请随意打赏。您的支持将鼓励作者继续创作！</p>
        <ul>
          <li><img src="{{ page.author | append: '.jpg' | prepend: 'qrcodes/pay/alipay/' | asset_path }}"></li>
          <li><img src="{{ page.author | append: '.jpg' | prepend: 'qrcodes/pay/wechat/' | asset_path }}"></li>
        </ul>
      </div>
    </div>
  </footer>
</article>
