---
layout: page
---
{% assign author = site.data.authors[page.author.slug] %}

{% assign tags = site.data.tags %}

{% assign categories = site.data.categories %}
{% assign category = page.categories.first %}

{% if categories[category] == null %}
  {% assign postCategory = category %}
{% else %}
  {% assign postCategory = categories[category].name %}
{% endif %}

<article class="container">
  <header>
    <h1>{{ page.title }}</h1>
    <p><a href="{{ author.profile }}">{{ author.name.zh }}</a> 发表于 <time datetime="{{ page.date }}">{{ page.date | date: "%F" }} {{ page.date | date: "%T" }}</time></p>
    {% if page.tags.size > 0 %}
      <div class="Article-tags">
        <span>标签：</span>
        <ul>
          {% for tag in page.tags %}
            {% if tags[tag] == null %}
              <li>{{ tag }}</li>
            {% else %}
              <li><a href="/tags/{{ tag }}/">{{ tags[tag].name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </header>
  <div class="Article-content col-md-9">{{ content }}</div>
  <footer class="col-md-3">
    <div class="Article-meta">
      <!-- 所属分类 -->
      <div class="Article-category">
        <p>发布在</p>
        <div>
          <h3><a href="/categories/{{ category }}/">{{ postCategory }}</a></h3>
          <p>{% if categories[category].description %}{{ categories[category].description }}{% else %}暂无分类描述{% endif %}</p>
        </div>
      </div>
      <!-- 版权声明 -->
      <p class="Article-license">本文采用知识共享<i class="fa fa-creative-commons"></i><a href="http://creativecommons.org/licenses/by-nc/3.0/cn/" target="_blank">署名-非商业性使用 3.0 中国大陆</a>许可协议，可自由转载、引用，但需署名作者并注明文章出处且不能用于商业用途。</p>
      <!-- 分享扩散 -->
      <div class="Article-share">
        <p>分享到<i class="fa fa-share"></i></p>
        <div class="social-share" data-sites="wechat,qzone,weibo,twitter"></div>
      </div>
    </div>
  </footer>
</article>
