@mixin layout-frameset(
    $layout-sub-width: 200px,
    $layout-header-height: 0,
    $layout-footer-height: 0
  ) {

  html,
  body {
    @include square(100%);
    min-height: 0;
    zoom: 1;
  }

  html {
    @include box-sizing(border-box);
    padding: {
      top: $layout-header-height;
      bottom: $layout-footer-height;
    }
    overflow-y: hidden;
  }

  .layout--frameset {
    .layout-header {
      height: $layout-header-height;
      margin-top: -($layout-header-height);
    }

    .layout-footer {
      height: $layout-footer-height;
      margin-bottom: -($layout-footer-height);
    }

    .layout-main,
    .layout-sub {
      height: 100%;
      overflow: auto;
    }

    .layout-sub {
      width: $layout-sub-width;
      float: left;
    }
  }
}
